body {
    width: 90%;
}


#principal {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 10%;
}


.header-top {
    background-color:rgb(7, 4, 26);
    position: relative;
    overflow: auto;
}

.logotipo {
    position: absolute;
    left: 15%;
    height: 100%;
}

.header-nav ul {
    list-style: none;
    text-align: end;
    margin-right: 50px;
}

.header-nav ul li {
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    letter-spacing: 5px;    
}

.header-nav ul a {
    text-decoration: none;
    margin: 12px;
    padding: 2px;
    color: rgb(3, 61, 123);
}

.header-nav ul a:hover {
    color: rgb(67, 149, 172);
}


.img-header {
    width: 100%;
    margin-bottom: 100px;
}


.portfolio {
    width: 90%;
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
}

.portfolio p {
    margin: auto;
    font-size: 20px;
}

.gallery {
    width: 90%;
    margin: auto;
} 

.gallery-card {
    display: inline-block;
    margin: auto;
    width: 31%;
    border:  solid 6px white;
}

.gallery-card img {
    width: 100%;
    margin: auto;
}

.gallery-title {
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.gallery-text {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 100px;
}

.fashion {
    margin: auto;
    position: relative;
}

.fashion img {
    height: 600px;
    width: 100%;
}

.about  {
    width: 80%;
    margin: auto;
    text-align: left;
    position: absolute;
    top: 50px;
    right: 80px;
    color: white;
}

.about h2 {
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.about p {
    font-size: 20px;
    width: 60%;
}


#contact {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 30px;
}

#contact address {
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-family: arial;
}


.maps {
    margin: auto;
    height: 500px;
}
.maps iframe {
    width: 100%;
    height: 100%;
}


.rodape {
    background-color:rgb(7, 4, 26);
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    letter-spacing: 5px;
    color: rgb(2, 70, 143);
}
